.oing{
    color: white;
    font-family: comic;
    text-align:center
}

p {
    font-family: "Comic Sans MS";
    color:cornsilk
}

body {
    background-color: seagreen;
}

.sizy{
    width: 2.5%;
}

a {
    font-family: "Comic Sans MS";
}